/*GLOBAL*/
.centerTxts{
    text-align: center;
}

/*HEAD*/
#title{
    text-align:center;
}
.navbar-custom{
    background-color: whitesmoke;
    border: solid !Important;
    border-color: ghostwhite !Important;
}
.navbar-brand{
    margin-right: 50px !important;
    border: solid 1px;
    border-radius: 5px;
    border-color: ghostwhite !important;
    position: relative;
    bottom: 5%;
}
#goalTxt{
    font-size: 0.8em;
}
#div-goalTxt{
    width:240px;
}
#div-goalTxt-title{
    text-decoration:underline;
    font-size:1.1em;
}
.div-progress-main-txt{
    position: relative;
    top:18px;
}
.progress-main{
    width:240px;
    margin-left: 10px;
    margin-right: 10px;
}
.div-progress-main{
    text-align:center;
}

/*FOOT*/
#footContainer{
    position: fixed;
    Width: 100%;
    bottom: 0;
}

/*BODY*/

    /* All */

    #GUIcontainer{
        width: 700px;
        margin: 10% auto;
    }
    #GUIcenter{
        height: 150px;
        width: 250px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        margin: 10px;
        border: solid;
        border-width: 5px;
        border-color: black;
    }
    .card{
        margin: 5px;
        border-color: whitesmoke !important;
    }

    /* Left */
        
        /* Card */
        #leftCard{
        }
        #leftBody{
            padding:0;
        }
        #leftHead{
            background-color: whitesmoke;
        }    

            /* Policy drop-down */
            #div-dropdown{
                vertical-align:top;
            }
            .grpBtn{
                height: 75px;
                width: 90%;
                display: inline-block;
                text-align: center;
                vertical-align: top;
                margin: 3px;
            }
            .btnAlert{
                visibility: hidden;
            }
            #dropdown-menu{
                width:250px;
            }
            .progress-mini{
                display:inline-block;
                position:relative;
                top:25px;
            }

            /* Goal progress bars */
            .goalProgTitle{
                margin: 0;
                padding:0;
            }
            .progress-goals{
                margin-bottom: 10px;
            }
            .goalProgDiv{
                margin: 5px;
            }

        /* Group circles (may not be used) */
        .grpCircle {   
            height: 150px;
            width: 150px;
            border-radius: 50% !important;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            line-height: 150px;
            margin: 10px;
        }
        .grpRect{
            height: 75px;
            width: 120px;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            margin: 3px;
        }
        .grpCircleText{
            font-size: 20pt;
        }
        .slideLabel{
            text-align: center;
        }

    /* Right */
        
        /* Card */
        #rightCard{
        }
        #rightHead{
            background-color: whitesmoke;
        }
        #modalBody{
            padding:0;
        }
    
            /* Detailed view & intervention menu */
            .trait_titles{
                padding:10px;
            }
            .hide-on-startup{
                visibility:hidden;
            }
            #intvSliderCurr{
                position: relative;
                left:275px;
                bottom: 35px;
            }
            .slider1Curr{
                text-align:right;
                float: right;

            }.slider{
                text-align: right;
                float: right;
                width: 175px;
                height: 45px;
            }
            .sliderBtn{
                position: relative;
                left: 32px;
                height: 50px;
                bottom: 7px;
                width: 200px;
                display: inline-block;
            }
            .sliderDiv{
                height:60px;
            }
            .spacer{
                padding-bottom:50px;
            }
            #slider1{
                background-color: red;
            }
            .vertical {
              display: inline-block;
              width: 20%;
              height: 40px;
              -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
              transform: rotate(-90deg);
            }
            .intvIcoDiv {
                height: 120px;
                max-height: 120px;
                overflow: auto;
            }

/* MODALS (may not be used) */
.modal{
    margin-left: 45% !important;
}

.modalContainer{
    text-align: center;
    vertical-align: middle;
}
.modal-backdrop {
     background-color: rgba(0,0,0,.0001) !important;
}
#modal2Right{
}

/*FDG*/

text.shadow_v_collapsed{
    stroke: white;
    stroke-width: 0.5px;
    opacity: 0.8;
    pointer-events: none;
}
text.shadow_v_normal{
    stroke: white;
    stroke-width: 0.1px;
    opacity: 0.8;
    pointer-events: none;
}
text.shadow_v_compact{
    stroke: white;
    stroke-width: 0.1px;
    opacity: 0.8;
    pointer-events: none;
}