.btn-intervention{
    margin:1px;
}
.div-grp{
    display:inline-block;    
    vertical-align:top;
}
.span-intv{
    display:inline-block;    
    vertical-align:top;
}
.card{
    width: 10rem !important;
    display:inline-block !important;
    vertical-align:top;
    padding:4px;
}
#title{
    text-align:center;
}
text.shadow_v_collapsed{
    stroke: white;
    stroke-width: 0.5px;
    opacity: 0.8;
}
text.shadow_v_normal{
    stroke: white;
    stroke-width: 0.1px;
    opacity: 0.8;
}